
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:"Raleway", sans-serif;
}

html{
  scroll-behavior: smooth;
}

header{
  position: fixed;
  top: 0;
  z-index:1;
}

.top{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 100px;
  height: 100px;
}

.left{
  display: flex;
  justify-items:flex-start;
  align-items: center;
}


.navobj li{
  list-style: none;
  display: inline-block;
  font-size: large;
}

.navobj li a{
  text-decoration: none;
  color: black;
}

.navobj li a:hover, .navobj li a:focus{
  background-color: black;
  color: white;
}
