
        body {
            font-family: 'Poppins', sans-serif;
            color: #333;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            position: relative;
            background-image: url('your_background_image_path');
            background-size: cover;
        }
        .btn {
            margin-bottom: 20px; 
        }
        .form-group {
            margin-top: 20px; 
            margin-bottom: 20px;

        }
        .container {
            width: 80%;
            backdrop-filter: blur(10px); 
            background-color: rgba(255, 255, 255, 0.7); 
        }
        .card {
            border-radius: 15px;
            border: none;
            box-shadow: 0 0 10px rgba(0,0,0,0.15);
        }
        .btn-primary {
            background-color: #2A324B;
            border-color: #2A324B;
            margin-bottom: 10px;
        }
        .btn-danger {
            position: absolute;
            top: 10px;
            left: 10px;
        }
        .img-thumbnail {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin: auto;
        }
        .row {
            display: flex;
            flex-wrap: wrap;
        }
        .col-md-6 {
            display: flex;
            flex-direction: column;
        }
        .card {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .card-body {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1;
        }
        h2 {
            display: none;
        }
        .status-box {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            color: #fff;
        }
        .room-number {
            background-color: #2a324b;
        }
        .current-status.present {
            background-color: #008000;
        }
        .current-status.absent {
            background-color: #FF0000;
        }
        .butoons{
            /* border: 2px solid salmon; */
            margin-top: 15px;
        }