@import url(https://db.onlinewebfonts.com/c/a1ab9bebae84d82fbcfe930c4643de7a?family=Cera+CY+Regular); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Cera CY Regular", sans-serif;
}

nav 

nav li{
    list-style:none;
    display: inline-block;
}
/*hello*/